@import '~normalize.css/normalize';

* {
  box-sizing: border-box;
}

html, body {
  min-width: 320px;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: normal;
}

header {
  flex: none;
}

main {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
}

footer {
  flex: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

textarea {
  resize: vertical
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

strong {
  font-weight: $font-bold;
}