// Colors
$primary-color: #222222;
$secondary-color: #FFFFFF;
$tertiary-color: #89C1BF;
$quaternary-color: #4D7EB7;
$quinary-color: #D7FC5C;
$senary-color: #21503D;
$septenary-color: #F6EAC9;
$octonary-color: #E1D353;
$nonary-color: #D65239;
$denary-color: #B5A2C7;

// Typography
$font-primary: 'Druk Cyr', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-emoji: 'apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol';
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-super: normal;
$heading-primary-size: 100px;
$heading-primary-height: 90px;
$heading-primary-size-sm: 64px;
$heading-primary-height-sm: 58px;
$heading-secondary-size: 64px;
$heading-secondary-height: 64px;
$heading-secondary-size-sm: 42px;
$heading-secondary-height-sm: 38px;
$heading-tertiary-size: 32px;
$heading-tertiary-height: 32px;
$heading-tertiary-size-sm: 26px;
$heading-tertiary-height-sm: 26px;
$heading-quaternary-size: 24px;
$heading-quaternary-height: 31px;
$heading-quaternary-size-sm: 18px;
$heading-quaternary-height-sm: 24px;
$text-primary-size: 16px;
$text-primary-height: 24px;
$text-primary-size-sm: 15px;
$text-primary-height-sm: 20px;
$text-secondary-size: 18px;
$text-secondary-height: 24px;
$text-secondary-size-sm: 16px;
$text-secondary-height-sm: 21px;
$text-tertiary-size: 14px;
$text-tertiary-height: 13px;
$text-tertiary-size-sm: 12px;
$text-tertiary-height-sm: 14px;
$letter-spacing: 0.03em;

// Containers
$sm: 320px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1920px;

// MISC
$black: #000000;
$header-bg: #E6E6E6;
$link-color: #3E7EBC;
$border-radius-sm: 6px;
$border-radius-md: 20px;
$box-shadow: 0px 4px 20px rgba(111, 111, 111, 0.1);

